.gameBoard {
  display: grid;
  width: 680px;
  height: 570px;
  margin: auto;
}
.blueTile {
  border-style: solid;
  background-color: rgb(0, 225, 255);
  background-image: url(../board/assets/CoinsTransparent.png);
  background-size: cover;
  background-position: center;
}

.start {
  background-color: purple;
}

.green {
  background-color: green;
  background-image: url(../board/assets/CoinsTransparent.png);
  background-size: cover;
  background-position: center;
}

.currentTile {
  background-image: url(../board/assets/1.png);
  background-size: cover;
  background-position: center;
  background-color: white;
}

.redTile {
  background-image: url(../board/assets/CoinsTransparent.png);
  background-size: cover;
  background-position: center;
  background-color: red;
}

.redTileSelected {
  background-color: #b00000;
  background-image: url(../board/assets/CoinsTransparent.png);
  background-size: cover;
  background-position: center;
}

.sausageTile {
  background-image: url(../board/assets/SausageTransparent3.png);
  background-size: cover;
  background-position: center;
}

.sausageTileSelected {
  background-image: url(../board/assets/SausageTransparent3.png);
  background-size: cover;
  background-position: center;
}

.wallTile {
  background-color: #1a1714;
}

.shopTile {
  background-image: url(../board/assets/ShopTransparent.png);
  background-size: cover;
  background-position: center;
}

.shopTileSelected {
  background-color: #bfb326;
  background-image: url(../board/assets/ShopTransparent.png);
  background-size: cover;
  background-position: center;
}
